[submodule "MoodFM"]
	path = MoodFM
	url = https://github.com/SPareshKumar/Mood.FM.git
[submodule "VitalCart"]
	path = VitalCart
	url = https://github.com/AnishkaR10/VitalCart.git
[submodule "WhatsAppHealthLog"]
	path = WhatsAppHealthLog
	url = https://github.com/SPareshKumar/Smart-Health-Log-via-WhatsApp.git
